<% provide(:title, 'Contact us') %>
	<h1>Contact us</h1>
		<ul>
		  <li><em>Kwame:</em></li>
		  <li>ihouse Room #: XXX</li>
		  <li>Tel: +27 (0) XXX XXXX</li>
		  <li>Email: multioakful@gmail.com</li>
		</ul>

		 <ul>
		  <li><em>William:</em></li>
		  <li>Tel: +27 (0) XXX XXXX</li>
		  <li>Email: XXX</li>
		</ul>