<% provide(:title, 'Contact us') %>
	<h1>Contact us</h1>
		<p>
		  <em>Kwame:</em>
		  ihouse Room #: XXX
		  Tel: +27 (0) XXX XXXX
		  Email: multioakful@gmail.com</p>

		  <p>
		  <em>William:</em>
		  Tel: +27 (0) XXX XXXX
		  Email: XXX
		</p>