	<div class="center hero-unit">
	<img alt="Wits logo" src="/assets/WITS-logo.png">
		<h1>ihouse Complaint Web App</h1>

		<h2>
			Web Platform for submitting maintainance complaints, general house complaints and suggestions. Also a forum for communication between the house.
		</h2>
	<%= link_to "Sign up", register_path, class: "btn btn-large btn-primary" %>
		<p>
		  Adapted from
		  <a href="http://railstutorial.org/" target="new">Ruby on Rails Tutorial</a>
		  sample application.
		</p>
	</div>


	<!-- <a href="#" class="btn btn-large btn-primary">Sign up</a> -->


