<footer class="footer">
  <p>
    Developed by OAKridge
  </p>
  <nav>
    <ul>
      <li><%=link_to "Contacts", contacts_path %></li>
      <li><a href="http://www.wits.ac.za/">Copyrights (c) 2014</a></li>
      <li><a href="http://www.wits.ac.za/">Terms of Use</a></li>
    </ul>
  </nav>
</footer>