<footer class="footer">
  <p>
    Developed by OAKridge
  </p>
  <nav>
    <ul>
      <li><%=link_to "Contacts", contacts_path %></li>
      <li><a href="http://www.wits.ac.za/" target="new">Copyrights (c) 2014</a></li> <!--change adress!!-->
      <li><a href="http://www.wits.ac.za/" target="new">Terms of Use</a></li> <!--change adress!!-->
    </ul>
  </nav>
</footer>